a {
  text-decoration: none;
}

.card {
  width: 350px;
  background: #efead8;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* Zone image propre */
.card-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

/* IMPORTANT : empêche l’image de déformer la card */
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Contenu */
.card-content {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  background-color: #f9f7ee;
}

.card-content h2 {
  color: #26140c;
  font-size: 34px;
  font-weight: 800;
  margin: 0 0 8px 0;
}

.card-content p {
  font-size: 14px;
  color: #26140c;
  margin: 0;
  line-height: 1.4;
}
